# exclude .gitignore and similar from the generated tarball
.git*                       export-ignore
# exlude not needed files for a PBX module
README.md                   export-ignore
test                        export-ignore